@import url(./__text-area/giftnow__text-area.css);
@import url(./__title/giftnow__title.css);
@import url(./__main-text/giftnow__main-text.css);
@import url(./__button/giftnow__button.css);
@import url(./__image/giftnow__image.css);

.giftnow{
    height: 700px;
    display: flex;
    position: relative;
    background: #f1f1f2;
}